include README.md
include LICENSE
include pyproject.toml
include requirements.txt
recursive-include pyandroid *.py
recursive-include examples *.py
recursive-exclude tests *
recursive-exclude .github *
global-exclude __pycache__
global-exclude *.py[co]
